#center-letter {
    background-color: #f8cd05;
    height: 20px;
	width: 20px;
	/*  TO DO: indicate that this is the center letter, with shape or label   */
}

.button {
    background-color: #f8cd05;
    margin: 15px;
}

input[type=text] {
    background-color: #F5F5F5;
    border-color: #BEBEBE;
	height: 20px;
	width: 20px;
    text-align: center;
    text-transform: uppercase;
    float: middle;
}

body {
    text-align: center;
    width: 500px; 
}


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    height:fit-content;
}





